--extra-index-url https://download.pytorch.org/whl/cu118
huggingface-hub
torch
torchaudio
torchdata
torchmetrics
torchvision
numpy
opencv-python
transformers
diffusers
peft
matplotlib
scikit-image
seaborn
flask
scipy
requests
pillow
